In [58]:
import pandas as pd
import json

In [4]:
df = pd.read_csv('desafio1.csv')

In [5]:
df.head(2)

,RowNumber,id,sobrenome,pontuacao_credito,estado_residencia,genero,idade,nivel_estabilidade,saldo_conta,numero_produtos,possui_cartao_de_credito,membro_ativo
0,1,e7f44fcbd380d4cef7e6c232cc7e37895c3fd197,6d6e0aa1b9b413e442e2fb68df14b4fc3f91de50,619,SC,F,42,2,0.00,1,1,1
1,2,28dcb083ad90512da16b9430085c2cddb8ca5e12,48e1ad846796fa314f1b4a6702b83343eb5482c5,608,RS,F,41,1,83807.86,1,0,1

In [6]:
df.columns

Index(['RowNumber', 'id', 'sobrenome', 'pontuacao_credito',
       'estado_residencia', 'genero', 'idade', 'nivel_estabilidade',
       'saldo_conta', 'numero_produtos', 'possui_cartao_de_credito',
       'membro_ativo'],
      dtype='object')

In [105]:
media = df.groupby('estado_residencia')['pontuacao_credito'].mean()
media

estado_residencia
PR    648.961294
RS    651.105143
SC    649.537653
Name: pontuacao_credito, dtype: float64

In [107]:
mediana = df.groupby('estado_residencia')['pontuacao_credito'].median()
mediana

estado_residencia
PR    650
RS    650
SC    653
Name: pontuacao_credito, dtype: int64

In [108]:
desvio_padrao = df.groupby('estado_residencia')['pontuacao_credito'].std()
desvio_padrao

estado_residencia
PR    98.607186
RS    95.136598
SC    97.233493
Name: pontuacao_credito, dtype: float64

In [126]:
moda = pd.DataFrame()
for i in df.estado_residencia.unique():
    moda[i] = df[df['estado_residencia']==i]['pontuacao_credito'].mode()
moda.transpose()

      0
SC  850
RS  850
PR  850