# Desafio 1

Para esse desafio, vamos trabalhar com o data set [Black Friday](https://www.kaggle.com/mehdidag/black-friday), que reúne dados sobre transações de compras em uma loja de varejo.

Vamos utilizá-lo para praticar a exploração de data sets utilizando pandas. Você pode fazer toda análise neste mesmo notebook, mas as resposta devem estar nos locais indicados.

> Obs.: Por favor, não modifique o nome das funções de resposta.

## _Set up_ da análise

In [1]:
import pandas as pd
import numpy as np

In [2]:
black_friday = pd.read_csv("black_friday.csv")

## Inicie sua análise a partir daqui

In [186]:
int(black_friday.isnull().sum().max())

373299

In [189]:
len(black_friday.columns)

12

In [190]:
black_friday.columns

Index(['User_ID', 'Product_ID', 'Gender', 'Age', 'Occupation', 'City_Category',
       'Stay_In_Current_City_Years', 'Marital_Status', 'Product_Category_1',
       'Product_Category_2', 'Product_Category_3', 'Purchase'],
      dtype='object')

In [6]:
black_friday.isnull().sum()

User_ID                            0
Product_ID                         0
Gender                             0
Age                                0
Occupation                         0
City_Category                      0
Stay_In_Current_City_Years         0
Marital_Status                     0
Product_Category_1                 0
Product_Category_2            166986
Product_Category_3            373299
Purchase                           0
dtype: int64

In [12]:
black_friday.Product_Category_1.unique()

array([ 3,  1, 12,  8,  5,  4,  2,  6, 14, 11, 13, 15,  7, 16, 18, 10, 17,
        9], dtype=int64)

In [20]:
type(black_friday.Product_Category_3.isnull().sum()/black_friday.shape[0])

numpy.float64

In [26]:
float(black_friday.Product_Category_3.mode())

16.0

In [29]:
len(black_friday.dtypes.unique())

3

## Questão 1

Quantas observações e quantas colunas há no dataset? Responda no formato de uma tuple `(n_observacoes, n_colunas)`.

In [10]:
def q1():
    # Retorne aqui o resultado da questão 1.
    return black_friday.shape

## Questão 2

Há quantas mulheres com idade entre 26 e 35 anos no dataset? Responda como um único escalar.

In [47]:
def q2():
    # Retorne aqui o resultado da questão 2.
    return black_friday[black_friday.Gender=='F'][black_friday.Age == '26-35'].shape[0]

## Questão 3

Quantos usuários únicos há no dataset? Responda como um único escalar.

In [64]:
def q3():
    # Retorne aqui o resultado da questão 3.
    return len(black_friday.User_ID.unique())

## Questão 4

Quantos tipos de dados diferentes existem no dataset? Responda como um único escalar.

In [7]:
def q4():
    return len(black_friday.dtypes.unique())

## Questão 5

Qual porcentagem dos registros possui ao menos um valor null (`None`, `ǸaN` etc)? Responda como um único escalar entre 0 e 1.

In [86]:
def q5():
    # Retorne aqui o resultado da questão 5.
    return float(black_friday.Product_Category_3.isnull().sum()/black_friday.shape[0])

## Questão 6

Quantos valores null existem na variável (coluna) com o maior número de null? Responda como um único escalar.

In [9]:
def q6():
    # Retorne aqui o resultado da questão 6.
    return int(black_friday.isnull().sum().max())

## Questão 7

Qual o valor mais frequente (sem contar nulls) em `Product_Category_3`? Responda como um único escalar.

In [10]:
def q7():
    # Retorne aqui o resultado da questão 7.
    return int(black_friday.Product_Category_3.mode())

## Questão 8

Qual a nova média da variável (coluna) `Purchase` após sua normalização? Responda como um único escalar.

In [11]:
def q8():
    # Retorne aqui o resultado da questão 8.
    return float(((black_friday.Purchase - black_friday.Purchase.min()) / (black_friday.Purchase.max() - black_friday.Purchase.min())).mean())

## Questão 9

Quantas ocorrências entre -1 e 1 inclusive existem da variáel `Purchase` após sua padronização? Responda como um único escalar.

In [12]:
def q9():
    # Retorne aqui o resultado da questão 9.
    b = (black_friday.Purchase-black_friday.Purchase.mean())/black_friday.Purchase.std()
    return b[(b>-1)&(b<1)].size

## Questão 10

Podemos afirmar que se uma observação é null em `Product_Category_2` ela também o é em `Product_Category_3`? Responda com um bool (`True`, `False`).

In [13]:
def q10():
    # Retorne aqui o resultado da questão 10.
    return bool(black_friday.Product_Category_3[pd.isnull(black_friday.Product_Category_2)].isnull().all())